<tr>
  <th scope="row">#</th>
  <td>
    <p><%= tag.name %></p>
  </td>
  <td>
    <%= link_to 'Edit',
      edit_project_tag_path(tag,
        params: {
          project_id: project.id
        }
      ),
      class: "btn btn-info",
      id: "edit_#{tag.id}"
    %>
    <% if owner?(project) %>
      |<%= link_to 'Remove',
        '#',
        class: "btn btn-dark",
        id: "remove_#{tag.id}",
        method: :delete, 
        data: { confirm: "You sure?" }
      %>
    <% end %>
  </td>
</tr>
