<% provide(:title, 'Add Tag') %>
<% provide(:button_text, 'Add Tag') %>
<h1>Add Tag</h1>

<div class="container">
  <div class="row">
    <div class="col-10 col-offset-1 text-left">
      <%= render 'create_form' %>      
    </div>
  </div>
</div>