<% provide(:title, "Forgot_password") %>
<h1>Forgot password</h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-offset-1 text-left">
      <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>  
    </div>
  </div>
</div>