<div class="col-10 col-offset-1">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <%= link_to 'Task', '#' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Label', '#' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Member', '#' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Graph', '#' %>
    </li>
  </ul>
</div>