<tr>
  <th scope="row">#</th>
  <td>
    <%= project.name %>
  </td>
  <td>
    <%= project.description %>
  </td>
  <td>
    <% link_to 'Edit', "#" %>
    | <%= link_to 'Close', project, class: "btn btn-dark" ,id: "#{project.id}", method: :delete, data: { confirm: "You sure?" } %>
  </td>
</tr>