<% provide(:title, 'Create Project') %>
<% provide(:button_text, 'Create My Project') %>
<h1>Create Project</h1>

<div class="container">
  <div class="row">
    <div class="col-10 col-offset-1 text-left">
      <%= render 'form' %>
    </div>
  </div>
</div>