<div class="container">
  <div class="row">
    <div class="col-10 col-offset-1 text-left">
      <h1>Tasks</h1>
      <div class="container">
        <div class="row">
          <%= link_to "Add Task", new_project_task_path(@project), class: "btn btn-primary" %>
        </div>
      </div>
      <% if @tasks.any? %>
        <div class="container">
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Detail</th>
                  <th scope="col">X</th>
                </tr>
              </thead>
              <tbody>
                <%= render @tasks %>  
              </tbody>
            </table>
            <%= paginate @tasks %>
          </div>
        </div>
      <% else %>
        Let's create your first task
      <% end %>
    </div>
  </div>
</div>