<% provide(:title, 'Edit Task') %>
<% provide(:button_text, 'Update My Task') %>
<% provide(:form_url, project_task_path(@task)) %>
<% provide(:method, :patch) %>

<h1>Edit Task</h1>

<div class="container">
  <div class="row">
    <div class="col-10 col-offset-1 text-left">
      <%= render 'form' %>
    </div>
  </div>
</div>