<h1>youKnow</h1>

<p>Hi <%= @user.name %></p>

<p>
Welcome to youKnow! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(
  @user.activation_token,
  emial: @user.email
)%>