<h1>youKnow</h1>

<p>Hi <%= @user.name %></p>

<p>
Welcome to youKnow! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(
  @user.activation_token,
  email: @user.email
)%>

https://whoknows-youknow.herokuapp.com/account_activations/gqdX5XonvY-lyNRCVVBdTQ/edit?email=s-takuya1026%40z7.keio.jp
https://whoknows-youknow.herokuapp.com/account_activations/gqdX5XonvY-lyNRCVVBdTQ/edit?emial=s-takuya1026%40z7.keio.jp