<tr>
  <th scope="row">#</th>
  <td>
    <%= link_to member.user.name, '#' %>
  </td>
  <% if owner?(project) && !(member.owner) %>
    <td>
      <%= link_to 'Remove', '#', class: "btn btn-dark" ,id: "remove_#{member.id}", method: :delete, data: { confirm: "You sure?" } %>
    </td>
  <% end %>
</tr>
